.info-label {
  line-height: 20%;
}

.info-text {
  margin-top: 6%;
  line-height: 35%;
}

.our-team {
  background-color:#339966;
  margin-top:2%;
  color:white;
}

.team-member-image {
  width: 10%;
  height: auto;
  margin: 2%;
  border-radius: 50%;
}
.photos-container {
  text-align:center
}
.admin-index {
  margin: 15px 0;
  border: 1px solid #2E2F30;
  padding: 10px;
}